body {
    background: linear-gradient(to bottom, #000000, #181818) fixed;
}

body::-webkit-scrollbar {
    width: 0px;
}

@keyframes gradient {
    0% {border-bottom: 1.5px solid #000;}
    50% {border-bottom: 1.5px solid #fff;}
    100% {border-bottom: 1.5px solid #000;}
}

.input-box input:-webkit-autofill,
.input-box input:-webkit-autofill:hover,
.input-box input:-webkit-autofill:focus,
.input-box input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #ffffff !important;
}

.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box input {
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    height: 100%;
    width: 39%;
    max-width: 500px;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    transition: all 0.1s ease;
    background: transparent;
    border: none;
    border-bottom: 1.5px solid #343434;
    margin-top: 70px;
}

.input-box input:focus{
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {border-bottom: 1.5px solid #000;}
    50% {border-bottom: 1.5px solid #fff;}
    100% {border-bottom: 1.5px solid #000;}
}

.sidebar{
    font-family: 'Montserrat', sans-serif;
    color:white;
    padding-left:250px;
    padding-top: 50px;
}

@media screen and (max-width: 768px) {
    .sidebar{
        padding-left: 20px; /* Reduced padding for smaller screens */
    }
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li{
    margin-bottom: 34px;
    position: relative;
}

.sidebar li span{
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.sidebar li span::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 1px;
    background: #ffffff;
    transition: 0.3s;
}

.sidebar li span:hover::after {
    width: 100%;
}

.active{
    border-bottom: 1px solid white;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.container {
    width: 100%; /* Changed to 100% for responsiveness */
    max-width: 150px; /* Добавлено для ограничения ширины */
    margin: 10px;
    cursor: pointer;
    float: left; /* Изменено на float */
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.genre-block {
    height: 150px;
    background-size: cover;
    border-radius: 10px;
}

.genre-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 5px 0;
}

.content-wrapper {
    position: absolute;
    top: 150px;
    left: 275px;
    right: 0;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

