body{
    background-color: #000000;
}

@keyframes gradient {
    0% {border-bottom: 1.5px solid #000;}
    50% {border-bottom: 1.5px solid #fff;}
    100% {border-bottom: 1.5px solid #000;}
}

.input-box input:-webkit-autofill,
.input-box input:-webkit-autofill:hover,
.input-box input:-webkit-autofill:focus,
.input-box input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #ffffff !important;
}

.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 30px;
    margin-top:80px;
    margin-left:10px;
    cursor: pointer;
}

.button-text {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-right: 5px;
    font-size: 12px;
}

.fa-solid {
    color: #ffffff;
}

.input-box input {
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    height: 100%;
    width: 30%;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    transition: all 0.1s ease;
    background: transparent;
    border: none;
    border-bottom: 1.5px solid #343434;
    margin-top: 70px;
}

.input-box input:focus{
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {border-bottom: 1.5px solid #000;}
    50% {border-bottom: 1.5px solid #fff;}
    100% {border-bottom: 1.5px solid #000;}
}


.sidebar{
    font-family: 'Montserrat', sans-serif;
    color:white;
    padding-left:250px;
    padding-top: 50px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li{
    margin-bottom: 34px;
    position: relative;
}

.sidebar li span{
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.sidebar li span::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 1px;
    background: #ffffff;
    transition: 0.3s;
}

.sidebar li span:hover::after {
    width: 100%;
}

.active{
    border-bottom: 1px solid white;
}

.sidebar a {
    color: white;
    text-decoration: none;
}









