.scroll-menu {
    margin-left: 105px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
    overflow-y: auto;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

.track {
    display: flex;
    align-items: center;
    margin: 3px 3px 3px 60px;
    padding-left:7px;
    padding-top:7px;
    padding-bottom:7px;
    border:1px solid rgba(255, 255, 255, 0.08);
    background: #1A1A1A;
    border-radius: 15px;
    width: 600px;
    transition: all 0.3s ease;
}

.track:hover{
    border:1px solid rgba(255, 255, 255, 0.08);
    background: #252525;
    cursor: pointer;
    transform: scale(1.05);
}

.track img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 9px;
    border: 1px solid rgba(255, 255, 255, 0.11);
}

.track-info {
    display: flex;
    flex-direction: column;
}

.trackName{
    font-size:14px;
    color:white;
}

.trackMusician{
    z-index: 3;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.trackMusician a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: color 0.3s;
}

.trackMusician a:hover{
    color: white;
}

.trackName, .trackMusician{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.trackGenre{
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size:10px;
    padding: 1px 15px;
    color:white;
    background: rgba(120, 120, 120, 0.25);
    border-radius: 10px;
    transition: all 0.3s ease;
    width: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.trackGenre a{
    text-decoration: none;
    color: white;
}

.trackGenre:hover{
    background: rgba(204, 204, 204, 0.39);
}

.track audio {
    flex-grow: 1;
    margin-left: 20px;
}

.i1 {
    position: absolute;
    font-size: 20px;
    padding-left: 500px;
    padding-top: 13px;
    font-weight: lighter;
}
.fa-spinner{
    color: #8A8A8A99;
    padding: 2px;
    border-radius: 5px;
}
.fa-plus, .fa-check{
    color: #8A8A8A99;
    padding: 2px;
    background: transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.fa-plus:hover, .fa-check:hover{
    color: rgba(255, 255, 255, 0.81);
    background: rgba(255, 255, 255, 0.19);
}

.hidden-icon {
    display: none;
}

.track img:hover {
    transform: scale(1.1);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.skeleton-block {
    width: 48px;
    height: 48px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 9px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    background: linear-gradient(45deg, #676666, #4d4d4d, #676666);
    background-size: 200% 200%;
    animation: gradient 1s linear infinite;
}

.lazy {
    opacity: 0;
    transition: opacity 0.3s;
}



.player {
    display: none;
    align-items: center;
}

.player-button {
    cursor: pointer;
}

.track-info-player {
    display: flex;
    align-items: center;
}

.track-icon {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

#timeSlider {
    cursor: pointer;
    width: 700px;
}

.time-display {
    display: flex;
    align-items: center;
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

#volumeIcon {
    color: #ffffff;
    width: 20px;
    padding-right: 3px;
}

#volumeSlider {
    width: 70px;
    cursor: pointer;
}

#shuffleIcon, #repeatIcon {
    color: #a3a3a3;
    cursor: pointer;
    margin-left: 20px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    background-color: #1A1A1A;
    border-radius: 15px;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    display: flex;
}

.modal-left {
    flex: 1;
}

.modal-left img {
    max-width: 100%;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.modal-left img:hover{
    cursor: pointer;
}

.modal-right {
    flex: 2;
    padding-left: 20px;
}

.modal-info {
    display: flex;
    flex-direction: column;
}

.fa-xmark {
    position: absolute;
    top: 25px;
    right: 25px;
    color: #a3a3a3;
    font-size: 28px;
    font-weight: bold;
}

.fa-xmark:hover,
.fa-xmark:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

h2{
    margin-top: 15px;
    padding-left: 15px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

p{
    line-height: 1;
    color: #b0afaf;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

p a{
    text-decoration: none;
    color: white;
}

p a:hover{
    border-bottom: 1px solid white;
}

.block{
    padding-left: 20px;
    background-color: rgb(47, 47, 47);
    border-radius: 15px;
    width: 250px;
}
